/* OutputWindow.css */

/* Container styling */
.output-window {
    margin: 20px;
  }
  .outer-data-table {
    width: 90%;
    padding: 20px;
    height: 30vh;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  /* Input field styling */
  .input-field {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }
  .input-field:playing{
    border: 1px solid grey;
  }
  .save-button {
    padding: 10px;
  }
 

  