
.tab-bar-container {
  width: 100%;
}

.tab-bar-container-inner {
  display: flex;
  justify-content: space-between;
}

.tabs-container {
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}
.tabs-left {
  overflow: auto;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.tab-componentName {
  display: inline-block;
  width: 80px;
  padding: 5px 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.add-icon-box {
  background-color: #f3f3f3;
  border: 1px solid rgb(244 250 254);
  display: inline-flex;
  padding: 0px 4px;
  cursor: pointer;

}

.tab-cross-icon {
  padding: 4px;
  border-radius: 10px;
}


