/* TabBar.css */
/* .main-outer {
    display: grid;
    grid-template-columns: 1fr 4fr;

  } */
/* Style for the container of the tab bar */
.tab-bar-container {
    width: 130vh;
    margin: 0px 5px;
    border: 1px solid #ccc;
  }
  .tab-bar-container-inner {
    display: flex;
    justify-content: space-between;
  }

  /* Style for the tabs container */
  .tabs-container {
    background-color: #f3f3f3;
    overflow: auto;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden; 
  }
  
  /* Style for each individual tab */
  .tab-component {
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
    padding: 2px;
  }
  .tab-componentName{
    display: inline-block;
    width: 80px;
    white-space : nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .add-icon-box{
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    display: inline-flex; 
    padding: 4px;
    cursor: pointer;
  }

  .tab-cross-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
  }
  .tab-cross-icon:hover {
    background-color: white;
  }
