/* TabBar.css */

/* Style for the container of the tab bar */
.TabBarContainer {
    width: 120vh;
  }
  
  /* Style for the tabs container */
  .TabsContainer {
    overflow: auto;
    white-space: nowrap;
    background-color: white;
    border-bottom: 1px solid #ccc;
  }
  
  /* Style for each individual tab */
  .TabComponent {
    cursor: pointer;
    font-size: 15px;
    display: inline-block;
  }

  .TabComponentName{
    display: inline-block;
    width: 90px;
    white-space : nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
  }

  .TabCrossIcon {
    cursor: default;
    display: inline-block;
  }
