/* SideBar.css */

/* Style for the outer container of the sidebar */
.side-bar-outer-box {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  /* Style for the section headers (e.g., "Models" and "Saved Queries") */
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  /* Style for the list items within each section */
  .heading {
    font-size: 20px;
    margin: 5px 0;
    cursor: pointer;/* Blue color for links */
  }

  /* Style for the list items when hovered */
  .saved-outer-name {
    width: 150px;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    border-radius: 5px;
    white-space : nowrap; 
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .saved-outer-name:hover {
    background-color: white;
  }
  .image-button {
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 10%;
  }
  .image-button:hover {
    background-color: white;
  }