/* src/App.css */
body {
  background-color: #dee2e6;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
  
.App {
  font-family: Arial, sans-serif;
  background-color: #dee2e6;
}

.color-green {
  background-color: #05aa6d;
  color: #f3f3f3;
  font-size: 20px;
}

.color-green:hover{
  color: black;
}

.main-outer {
  display: grid;
  grid-template-columns: 1fr 5fr;
}

.run-query-box {
  display: inline;
  margin: 2px;
}

.right-side {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #333;
}

button {
  background-color: white; 
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: #60717e;
}
button:hover {
  background-color: rgb(244 250 254);
  color: #60717e;
}

.button:hover {
  background-color: rgb(244 250 254);
  color: black;
}
.run-query-box button {
  padding: 6px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.flex{
  display: flex;
  justify-items: center;
  align-items: center;
}

table {
  border-collapse: collapse;
  font-size: 10px;
  margin-top: 20px;
}

th{
  padding: 6px 20px;
  text-align: center;
  font-size: 15px;
  background-color: #60717e;
  color: white;
}
td {
  padding: 5px;
  text-align: center;
  font-size: 12px;

}

ul {
  list-style-type: none;
}

li {
  margin: 5px 0;
}

img{
  cursor: pointer;
}